body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    color: black;
    margin-left: 400px;
    margin-right: 400px;
    background-color: aquamarine;
    padding: 15px;
}

header {
    background-color: darkorchid;
    font-size: 20pt;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-align: left;
    border-style: solid;
    border-width: 3px;
    border-color: midnightblue;
}

nav {
    align-content: center;
}

p {
    padding: 10px;
    line-height: 1rem;
}

a:link {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: blueviolet;
}

a:hover {
    background-color: darkmagenta;
}

h1 {
    font-size: 14pt;
    font-weight: bold;
    color:indigo;
    text-decoration: overline;
    align-content: center;
}

#aboutkat {
    display: flex;
    flex-direction:column;
    border-style: dashed;
    border-width: 10px;
    border-color: rgb(49, 2, 55);
    background-color: cornflowerblue;
    justify-content: flex-start;
    padding: 15px;
}

div {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    margin-right: 20px;
}

#katswork {
    display: flex;
    flex-direction:column;
    border-style: solid;
    border-width: 10px;
    border-color:rgb(49, 2, 55);
    background-color: rgb(104, 210, 240);
    justify-content: flex-start;   
    padding: 15px;
}

#katsresume {
    display: flex;
    flex-direction:column;
    border-style: dashed;
    border-width: 10px;
    border-color: rgb(49, 2, 55);
    background-color: cornflowerblue;
    justify-content: flex-start;
    padding: 15px;
}

#contact {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    background-color: cornflowerblue;
    justify-content: flex-start;
    padding: 15px;
}